{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}My Profile - Crimson Balance{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0"><i class="fas fa-user-edit me-2"></i>Edit Profile</h4>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4 text-center mb-4">
                            {% if user.profile_picture %}
                                <img src="{{ user.profile_picture.url }}" class="rounded-circle mb-3" width="150" height="150" alt="Profile">
                            {% else %}
                                <div class="rounded-circle bg-secondary d-inline-flex align-items-center justify-content-center mb-3" style="width: 150px; height: 150px;">
                                    <i class="fas fa-user fa-4x text-light"></i>
                                </div>
                            {% endif %}
                            <div class="mt-2">
                                {{ form.profile_picture|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form.username|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.email|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form.first_name|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.last_name|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form.user_type|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.blood_group|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form.phone_number|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.date_of_birth|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form.city|as_crispy_field }}
                                </div>
                            </div>
                            {{ form.address|as_crispy_field }}
                        </div>
                    </div>
                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save me-2"></i>Save Changes
                        </button>
                        <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}